@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;600&display=swap");

/* boiler */
html {
  position: relative;
  min-height: calc(100vh - 80px);
  padding-bottom: 80px;
  z-index: 0;
}

body {
  font-family: Inter, sans-serif;
  background-color: #f1f3f6;
  color: #1c2430;
  margin: 0;
}

header {
  background-color: #fff;
  padding: 1rem;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #515e72;
}

main {
  /* max-width: 60rem;
  margin: 2rem auto; */
  padding: 0 1rem;
  z-index: -11;
  min-height: calc(100vh - 289px);
}

main > p {
  margin-bottom: 2rem;
}

main > div {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

pre {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75rem;
}

ul {
  padding: 0;
  margin: 0;
  /* margin-bottom: 2rem; */
}

li {
  list-style-type: none;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* custom */
/* navigartion */
.mainNavigation {
  overflow: hidden;
  z-index: -10;
  position: relative;
  background-color: rgb(7, 86, 4);
  background: linear-gradient(45deg, transparent 4vw, rgb(7, 86, 4) 4vw),
    linear-gradient(-45deg, transparent 2vw, rgb(7, 86, 4, 0.5) 2vw),
    linear-gradient(45deg, transparent 1.8vw, lightgray 1.8vw),
    linear-gradient(-45deg, transparent 1.8vw, white 1.8vw);
  background-size: 1vw calc(100% + 1.5vw);
}

.mainNavigation h1 {
  display: inline-block;
  color: white;
  font-size: x-large;
  vertical-align: top;
  margin: 12px;
}

.logoRow {
  margin: 0 0 20px 0;
}

ul.mainNavigationList > li {
  position: relative;
  z-index: 10;
  display: inline-block;
  padding: 0 10px;
  background-color: transparent;
}

ul.mainNavigationList > li:first-of-type {
  padding-left: 0;
}

ul.mainNavigationList > li a {
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  background-color: #51f7fb;
  color: black;
}

ul.mainNavigationList > li a:hover {
  background-color: rgb(81, 247, 251, 0.8);
  color: white;
}

ul.mainNavigationList > li a:active {
  background-color: rgb(81, 247, 251, 0.6);
  color: white;
}

/* Navi x Content */
body,
.mainWrapper,
#__next {
  z-index: -20;
  position: relative;
}

.wholeClub {
  display: inline;
  position: absolute;
  right: -45px;
  top: 200px;
  width: 630px;
  height: auto !important;
  z-index: -2;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  /* top: -140px !important; */
}

.reveal.active {
  transform: translateY(0);
  opacity: 0.85;
}

.main {
  background-color: rgb(241, 243, 246);
  position: relative;
  top: -23px;
  padding: 1.5rem 1rem;
  margin-top: 32px;
}

.mainMainWrapper {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2.5rem 1rem;
}

/* only when mobile breakpoint is active */
.mainNavigation .hamburger {
  width: 2.5rem;
  height: 2.5rem;
  top: 1rem;
  right: 1rem;
  z-index: 11;
}

.mainNavigation .hamburger .hamburgerBar {
  background-color: #51f7fb;
  transition: background-color 0.5s;
  position: relative;
  width: 90%;
  height: 6px;
  border-radius: 2px;
  margin: 6px auto;
  transition: transform 0.5s;
}

.hamburgerCircleVisible {
  background: rgb(7, 86, 4);
  width: 200px;
  height: 200px;
  display: inline-block;
  position: fixed;
  border-radius: 50%;
  right: -111px;
  top: -107px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hamburgerCircleHidden {
  opacity: 0;
}

/* Fylout Navi mobile */
/* TODO make this animation more readable */
.menuAnimation-enter {
  opacity: 0;
}

.menuAnimation-enter-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
  opacity: 1;
  transition: opacity 500ms;
}

.menuAnimation-enter-done {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}
.menuAnimation-exit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
  opacity: 1;
}
.menuAnimation-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

/* animation for items */
.menuAnimation-enter .mobileNavItem:nth-of-type(2n + 1) {
  position: relative;
  left: 150px;
}

.menuAnimation-enter-active .mobileNavItem:nth-of-type(2n + 1) {
  left: 0;
  transition: left 500ms cubic-bezier(1, 0, 0.5, 1.5);
}

.menuAnimation-exit .mobileNavItem:nth-of-type(2n + 1) {
  left: 0;
}

.menuAnimation-exit-active .mobileNavItem:nth-of-type(2n + 1) {
  position: relative;
  left: 2000px;
  transition: left 500ms;
}

.menuAnimation-enter .mobileNavItem:nth-of-type(2n + 2) {
  position: relative;
  left: -150px;
}

.menuAnimation-enter-active .mobileNavItem:nth-of-type(2n + 2) {
  left: 0;
  transition: left 500ms cubic-bezier(1, 0, 0.5, 1.5);
}

.menuAnimation-exit .mobileNavItem:nth-of-type(2n + 2) {
  left: 0;
}

.menuAnimation-exit-active .mobileNavItem:nth-of-type(2n + 2) {
  position: relative;
  left: 2000px;
  transition: left 500ms;
}

.mainNavigation .hamburger.menuIsOpen .hamburgerBar {
  background-color: rgb(7, 86, 4);
  transition: background-color 0.5s;
}

.mainNavigation .hamburger.menuIsOpen .hamburgerBar:first-of-type {
  transform: rotate(45deg) translate(1px, 1rem);
  transition: transform 0.5s;
}

.mainNavigation .hamburger.menuIsOpen .hamburgerBar:last-of-type {
  transform: rotate(-45deg) translate(1px, -1rem);
  transition: transform 0.5s;
}

.mainNavigation .hamburger.menuIsOpen .hamburgerBar:nth-of-type(2) {
  transform: scale(0) rotate(900deg);
  transition: transform 0.5s;
}

.mobileNav {
  position: relative;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileNavItem {
  text-align: center;
}

.mobileNavItem.active {
  box-shadow: 0px 0px 30px rgb(7, 86, 4);
  border: 2px solid white;
  background-color: #00f9ff;
}

.mobileNavItem label {
  text-decoration: none;
  color: rgb(7, 86, 4);
}

.mobileNavItem {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgb(81, 247, 251, 0.4);
  transform: skewX(-10deg);
  margin-bottom: 1.5rem;
  border-radius: 2px;
}

.mobileNavItem:active {
  background-color: rgb(7, 86, 4, 0.5);
}

.mobileNavItem li {
  padding: 0;
  background-color: rgb(0, 0, 0, 0);
  margin: 0;
}

.mobileNavItem label {
  display: inline-block;
  transform: skewX(10deg);
}

.mobileNavItem:nth-of-type(2n + 1) {
  transform: skewX(10deg);
}

.mobileNavItem:nth-of-type(2n + 1) label {
  display: inline-block;
  transform: skewX(-10deg);
}

/* Content */
.headline {
  font-size: x-large;
  margin-bottom: 2rem;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
}

.imageGrid .image404 {
  grid-column: 2;
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

.eventOverlayBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 11;
}

.eventOverlayBox {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px 20px;
  border-radius: 4px;
  background-color: white;
  z-index: 12;
  max-width: 720px;
}

.overlayXMark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.flyer {
  max-width: 320px;
  max-height: 440px;
  position: relative;
  margin: auto;
}

.flyer img {
  width: 100%;
}

/* mobile */
@media (max-width: 576px) {
  .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
  }

  .fc-toolbar-chunk:last-of-type {
    margin-top: 1rem;
    font-size: 90%;
    display: flex;
  }

  .mainNavigation h1 {
    width: 200px;
    margin: 0;
    text-align: center;
  }

  .logoRow {
    margin: 0;
  }

  .wholeClub {
    opacity: 0.5;
    top: 20px;
    right: -60px;
    width: 600px;
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  height: 80px;
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgb(7, 86, 4);
  background: linear-gradient(225deg, transparent 3vw, rgb(7, 86, 4) 3vw),
    linear-gradient(135deg, transparent 2vw, rgb(7, 86, 4, 0.5) 2vw),
    linear-gradient(225deg, transparent 1.8vw, lightgray 1.8vw),
    linear-gradient(135deg, transparent 1.8vw, white 1.8vw);
  background-size: 1vw calc(100% + 1.5vw);
}

@media (max-width: 576px) {
  .footer {
    height: 50px;
  }
}

.footerLinks {
  position: absolute;
  right: 1rem;
}

.footerLinks a {
  text-decoration: none;
  color: white;
}

.footerSocial {
  position: absolute;
  left: 1rem;
}

.socialIcon {
  width: 1.5rem;
  margin-right: 0.75rem;
}

button.primary {
  background-color: rgb(7, 86, 4);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(7, 86, 4, 0.8);
  }
  &:active {
    background-color: rgb(7, 86, 4, 0.6);
  }
}

button.primary.hasArrow::before {
  content: "→";
  margin-right: 0.5rem;
  font-size: larger;
  line-height: 0;
  font-weight: 700;
  display: inline-block;
}
